body
{
    animation: rainbow 10s linear 0s infinite;
}
main
{
    background-color: rgba(255, 255, 255, 0.426);
    width: 50%;
    margin: auto;
    height: 500px;
}
.rainbowText
{
    animation: rainbowtext 5s linear 0s infinite;
}










@keyframes rainbowtext
{
    0%{color: blue;}
    10%{color: violet}
    25%{color: purple}
    30%{color: darkcyan}
    50%{color: red}
    60%{color: darkgreen}
    75%{color: darkorchid}
    85%{color: darkturquoise}
    100%{color: darkgoldenrod}
}

@keyframes rainbow
{
    0%{background-color: lightblue;}
    10%{background-color: lightcyan}
    25%{background-color: lightgreen}
    30%{background-color: lightpink}
    50%{background-color: lightsalmon}
    60%{background-color: lightcoral}
    75%{background-color: lightyellow}
    85%{background-color: lightgray}
    100%{background-color: lightblue}
}